* {
	
	margin: 0;
	
	padding: 0;
	
}

#bGradient, body {
	
	display: grid; 
	
	width: 100vw;
	
	height: 100vh;
	
}

body {
	
	grid-template: repeat(9, 1fr) / repeat(3, 1fr);
	
}

#bGradient {
	
	grid-template: / repeat(8, 1fr);
	
}

#bGradient1 {
	
	background-color: #222831;
	
    grid-row: 1/4;
}

#bGradient2 {
	
	background-color: #393E46; 
	
    grid-row: 4/6;
	
}

#bGradient3 {
	
	background-color: #00ADB5;
	
    grid-row: 6/7;
	
}

#bGradient4 {
	
	background-color: #EEEEEE;
	
    grid-row: 7/8;
	
}

#fLeft {
	
	background-color: #71C9CE;
	
}

#fRight {
	
	background-color: #71C9CE;
	
}